# 排除文件
.*
*.txt
*.key
*.jpg
*.eps
*.class
*.index
*.data-00000-of-00001
*.meta
*.pkl
*.DS_Store
*.TSC-DIY
*.w_num_map
*.text
*.gz
*.xml
*.obj
*.exe
*.pyc
*.h5
*.bin
*.pdb
*.prefs
*.jar
*.sbr
*.xls
*.dat
*.png
*.pch
*.ilk
*.tlog
*.pk
*.xlsx
*.DESKTOP-BJ8H14V
*.ncb
*.opt
*.plg
*.7z
*.csv
*.tsv
*.pool
*.zip
*.bsc
*.json
*.res
*._tensorflow
*._theano
*.old
*.aps
*.db
*.yes
*.svg
*.y
*.tx
*.ally
*.graph
*.allx
*.x
*.ty
*.rar
*.ttf
*._vocabulary
*.gif
*.mat
*.mexw32
# matlab 仿真文件
*.slx
*.theta
*.docx
*.doc
*.embeddings
*._lstm_cnn
*._cnn
*._train
*._test1
*.acc
*.token_idx
*.label
*.npy
*.npz
*.rdf
*.rsp
*.lastbuildstate
*.ipch
*.swp
*.egg
*.mmdb
*._keras-language-modeling-master
*._insuranceQA-master
*._bert-as-service-master
*._insuranceQA-cnn-lstm-master
*._QA-deep-learning-master
*._insuranceQA
*._insurance_qa_python
*._test2
*._dev
*._answers
*._V1
*._V2
*._rnn_attention
*._swem
*.model
*.bpe
*._service
*._bert
*._docker
*._LICENSE
*.github
*._Dockerfile
*._answer_selection_model_cnnlstm
*.hdf5
*.tmp1ed37f1c8346487db829f401b35cd4a8
*.check_cache
*.a
*.fig
*.pdf
*.twords
*._学术信息
*.lock
*.resources
*.markers
*.location
*.xmi
*.log
*.jiami
*.err

# 排除其他文件(夹)名
test*
*.egg-info

# 文件夹
data/
__pycache__/
result/
DSADATA/
cmake-build-debug/
Debug/
build/
dist/
out/
Payload/
tmp/
[a-z][a-z]_*/
.idea/

# 不排除的文件
!.gitignore
![^.]*.java
![^.]*.py
![^.]*.m
![^.]*.parms
![^.]*.md
![^.]*.cpp
![^.]*.js
![^.]*.h
![^.]*.c
![^.]*.dsw
![^.]*.dsp
![^.]*.sh
![^.]*.idb
![^.]*.cmake
![^.]*.iml
![^.]*.list
!.classpath
!.project
![^.]*.ico
![^.]*.cfg
![^.]*.rc
![^.]*.suo
![^.]*.rc2
![^.]*.Q
![^.]*.make
![^.]*.MF
![^.]*.properties
![^.]*.ipynb
![^.]*.sln
# 类信息
![^.]*.clw
![^.]*.yml
![^.]*.notes
![^.]*.includecache
# 工程配置文件
![^.]*.vcxproj
![^.]*.user
![^.]*.filters
![^.]*.ini
![^.]*.version
![^.]*.html
![^.]*.bat
![^.]*.plist
![^.]*.yaml
![^.]*.BSD
![^.]*.cbp
![^.]*.cxx
![^.]*.marks
![^.]*.internal
![^.]*.go
![^.]*.params
![^.]*.tree
![^.]*.mark
![^.]*.launch
![^.]*.setup
!requirements.txt
!requirements2.txt

# 不排除的文件夹
!.settings/
# 两个测试代码的文件, 测试af和ak
!ac_test[.]pkl
!aj_wordnet[.]mammal;1;*