tensorflow-gpu>=2.2.0
numpy>=1.17.4
scipy>=1.4.1
tanshicheng>=0.3.15
colorama>=0.4.3
pydot-ng>=2.0.0
tqdm>=4.42.1
nltk>=3.4.5
pygraphviz>=1.6
networkx~=2.5
matplotlib~=3.1.3
imageio~=2.6.1
pandas~=1.0.1